node_modules/
.expo/
dist/
build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.next/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Entornos y Secretos
.env
.env.*
*.pem
*.keystore

# Directorios Nativos (Expo Managed Workflow)
android/
ios/

# Logs de error
npm-debug.log
yarn-error.log
yarn-debug.log
